.p-profile {
  background: url(/assets/img/headshot.JPG);
  width: 100%;
  height: 495px;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

.p-tag {
  background: #989898;
  color: white;
  padding: 5px 10px;
  font-size: 18px;
}

.p-desc {
  color: #acacac;
  width: 80%;
}