<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <div class="p-profile"></div>
            </div>
            <div class="col-sm-7">
                <span class="p-tag">Software Engineer</span>
                <h1 class="mt-4">Abraham Perez</h1>
                <p class="p-desc mt-4 mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Eu volutpat odio facilisis mauris sit amet massa vitae. Phasellus vestibulum lorem sed risus ultricies tristique nulla aliquet enim. Interdum velit euismod in pellentesque massa placerat duis. Bibendum neque egestas congue quisque egestas. </p>
                <a href="#" class="p-readmore">Read More <img src="assets/img/rm-arw-rgt.png" alt="The icon for read more arrow" width="16" class="ml-3"></a>
            </div>
        </div>
    </div>
</section>